PORT=3000
MOCK_IOBROKER=true
MOCK_NINJAONE=true

IOBROKER_BASE_URL=
IOBROKER_USERNAME=
IOBROKER_PASSWORD=

NINJAONE_BASE_URL=
NINJAONE_CLIENT_ID=
NINJAONE_CLIENT_SECRET=

IOBROKER_OBJECT_FILTER=modbus.0.*
IOBROKER_OBJECT_TYPE=device
IOBROKER_REQUEST_TIMEOUT_MS=10000