PORT=3000
MOCK_IOBROKER=true
MOCK_NINJAONE=true

IOBROKER_BASE_URL=
IOBROKER_USERNAME=
IOBROKER_PASSWORD=
IOBROKER_OBJECT_FILTER=modbus.0.*
IOBROKER_OBJECT_TYPE=device
IOBROKER_REQUEST_TIMEOUT_MS=10000

NINJAONE_BASE_URL=
NINJAONE_CLIENT_ID=
NINJAONE_CLIENT_SECRET=
NINJAONE_OAUTH_SCOPE=
NINJAONE_REQUEST_TIMEOUT_MS=10000
NINJAONE_DEVICE_MATCH_FIELDS=displayName,systemName,dnsName
NINJAONE_WRITE_MODE=both
NINJAONE_STANDARD_USERDATA_PREFIX=ioBroker
NINJAONE_CF_EXTERNAL_ID=
NINJAONE_CF_HEALTH=
NINJAONE_CF_IP_ADDRESS=
NINJAONE_CF_LAST_SEEN_AT=
NINJAONE_CF_METRICS_JSON=
